/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	padding: 0;
	margin: 0;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: #000; 
	background:#001758;
	
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a{
outline: 0;	
color: #fff;
-moz-transition: all 0.5s;
		 -o-transition: all 0.5s;
	-webkit-transition: all 0.5s;
			transition: all 0.5s;

}

a:hover{
	color: #0281d4;
}

img{
-moz-transition: all 0.5s;
		 -o-transition: all 0.5s;
	-webkit-transition: all 0.5s;
			transition: all 0.5s;

}

#FullPage
{
	display:block;
    color: #fff;
    text-align: center;
    background-color: #000;
    background: linear-gradient(180deg, #0281d4, #001758 98%);
	width:100vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

#FPC .logo
{
	max-width: 450px;
	width: 50%;
	box-shadow: 5px 5px 100px #fff;
	margin: 10%;
}

#menu-wrap {
  width: 94%;
  padding: 0 3%;
  text-align: center;
  display: inline-block;
}

#menu-wrap a {
  color: #fff;
  text-decoration: none;
  opacity: 1;
  font-size: 2em;
  padding: 2%;
  text-shadow: 8px 8px 20px #000;
}

.icon {
	white-space: nowrap;
}

#menu-wrap a.fb:hover {
  opacity: 1;
  color: #1877f2;
}

#menu-wrap a.ig:hover {
  opacity: 1;
  color: #e1306c;
}

#menu-wrap a.yt:hover {
  opacity: 1;
  color: #ff0000;
}

#info {
	width:100%;
	margin:40px auto 40px auto;
	max-width: 1000px;
	
}
#info img{
	width:100%;
	box-shadow: 5px 5px 20px #000;
	margin:0 0 10px 0;
}
#info h1{
	padding:10px 10px 10px 10px;
	color:#fff;
	font-size: 1.5em;
}
#info p{
	padding:0px 10px 10px 10px;
	color:#ccc;
	font-size: 1em;
}

#footer
{
	background:rgba(0,0,0,0.3);
	box-shadow: 5px 5px 50px rgba(0,0,0,0.3);
	color:#fff;
    width:96%;
	text-align:center;
	padding:15px 2% 15px 2%
	
}